/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #FFC2E6;
  --menu-text: #353430;
  --text-box: #FF8DCB;
  --color-hover: rgba(50, 49, 45, 0.4);
  --accent-color: #ff0070;
  --background-color: #FFF1F7;
  --about-text: #353430;
  --title-text: var(--about-text);
  --background-color-light: var(--background-color);
  --color-text: var(--text-color); 
  --background-image: url(../images/cover-image-light.png);
  --bg: var(--background-image);
  --text-box-light: var(--text-box);
  --menu-color-light: var(--menu-text);
  --main-text: var(--about-text);
  --hover-light: var(--color-hover);
  margin: 0;
  
}

.page.theme_light .header {
  background: center / cover var(--bg) no-repeat;
  background-attachment: fixed;
}

.page.theme_light .cover__heading,
.page.theme_light .footer__heading {
  color: var(--text-color);
}

.page.theme_light .border__decorate::after, .page.theme_light .border__decorate::before {
  border-color: var(--menu-color-light);
}

.theme_light .header__theme-menu-button {
  color: var(--menu-color-light);
}

.theme_light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-color-light);
}

.theme_light .cover__text {
  background-color: var(--text-box-light);
  color: var(--menu-color-light);
}

.theme_light .about__link {
  color: var(--main-text);
  text-shadow: 2px 2px var(--text-box-light);
}

.theme_light .about__link:hover {
  border-bottom: 1px solid var(--main-text);
}

.theme_light .about__link:focus {
  outline: none;
}

.theme_light .about__link:focus-visible {
  outline: 1px solid var(--main-text);
  outline-offset: 1px;
}
.page.theme_light .border__decorate {
  border-color: var(--menu-color-light);
}

.theme_light .header .cover__text-right {
  display: none;
}

.theme_light .header__theme-menu-button:hover {
  outline: 1px solid var(--hover-light);
}

.page.theme_light .header__theme-menu-button_type_light {
  outline: 1px solid var(--menu-text);
}

.page.theme_light main,
.page.theme_light .footer {
  background-color: var(--background-color-light);
}

.theme_light .about__heading {
  color: var(--menu-color-light);
}

.page.theme_light .about__title {
  background-color: var(--text-box-light);
  color: var(--title-text);
}

.page.theme_light .border__decorate  {
  border-color: var(--menu-color-light);
}
