/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #FFC2E6;
  --menu-text: #353430;
  --text-box: #FF8DCB;
  --title-shadow: #FF8DCB;
  --accent-color: #ff0070;
  --color-hover: rgba(50, 49, 45, 0.4);
  --background: #FFF1F7;
  --about-text: #353430;
  --rec-display: none;
  --title-text: var(--about-text);
  --background-color: var(--background);
  --color-text: var(--text-color); 
  --background-image: url(../images/cover-image-light.png);
  --bg: var(--background-image);
  --text-box-color: var(--text-box);
  --rec-display-corner: var(--rec-display);
  --title-shadow-color: var(--title-shadow);
  --menu-color-text: var(--menu-text);
  --main-text: var(--about-text);
  --hover: var(--color-hover);
}

@media (prefers-color-scheme: light) {
.page {
  --text-color: #FFC2E6;
  --menu-text: #353430;
  --text-box: #FF8DCB;
  --title-shadow: #FF8DCB;
  --accent-color: #ff0070;
  --color-hover: rgba(50, 49, 45, 0.4);
  --background: #FFF1F7;
  --about-text: #353430;
  --rec-display: none;
  --title-text: var(--about-text);
  --background-color: var(--background);
  --color-text: var(--text-color); 
  --background-image: url(../images/cover-image-light.png);
  --bg: var(--background-image);
  --text-box-color: var(--text-box);
  --rec-display-corner: var(--rec-display);
  --title-shadow-color: var(--title-shadow);
  --menu-color-text: var(--menu-text);
  --main-text: var(--about-text);
  --hover: var(--color-hover);
}
}
