/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  margin: 0;
  --font-family: 'IBM Plex Mono', Arial, sans-serif;
}

.header__theme-menu {
  padding-block-start: 20px;
  padding-block-end: 20px;
  max-width: 230px;
  margin: 0 auto;
}

.page .header {
  background: center / cover var(--bg) no-repeat;
  background-attachment: fixed;  
}

.header {
  position: relative;
  z-index: 1;
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: inherit;
  border: none;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  cursor: pointer;
  padding-block: 0;
  padding-inline: 0;
  min-width: 66px;
  min-height: 23px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.cover {
  display: flex;
  flex-direction: column;
  position: relative;
}

.cover__heading, 
.footer__heading {
  font-family: var(--font-family);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 99px;
  text-align: left;
  text-shadow: 4px 4px 0 var(--accent-color); 
}

.cover__heading {
  padding-block-start: 273px;
  padding-block-end: 114px;
  margin: 0;
}

.cover__text {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-inline-end: 20px;
  align-self: self-end;
  max-inline-size: 491px;
  margin-block-end: 134px;
}
 
.page .border__decorate::after, 
.page .border__decorate::before {
  border-style: solid;
  width: 25px;
  height: 25px;
  position: absolute;
}

.page .top::after {
  content: '';
  border-width: 1px 1px 0 0;
  right: 20px;
  top: 20px;
  display: block;
  position: absolute;
}

.page .bottom::before {
  content: '';
  border-width: 0 0 1px 1px;
  left: 20px;
  bottom: 20px;
  display: block;
  position: absolute;
}

.cover__corner-text {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: var(--accent-color);
  text-transform: uppercase;
  position: absolute;
  margin: 0 auto;
  top: 0;
  right: 0;
  padding-inline-end: 48px;
  padding-block-start: 20px;
}

.cover__corner-text::after {
  content: '';
  border-radius: 50%;
  width: 9px;
  height: 9px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  display: block;
  position: absolute;
  top: 28px;
  right: 29px;
  background-color: var(--accent-color);
}

.about__title {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
}

.about__link {
  text-decoration: none;
}

.about__text {
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0;
  line-height: 23.4px;
  text-align: left;
  font-family: var(--font-family);
  font-size: 18px;
}

.about__heading {
  margin: 0;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
}

.main {
  padding-block-end: 60px;
}

.about__card-list {
  list-style: none;
}

.sections-style {
  padding-block-start: 60px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: space-between;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

.main .more__concentrate .bigger {
  margin-block-start: 0;
  margin-block-end: 20px;
}

.no-bold {
  font-weight: 400;
}

.concentrate__details {
  flex-direction: column;
}

.main .concentrate__details .about__card-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.concentrate__card-list-item {
  max-inline-size: 315px;
  height: auto;
}

.about__card-list-item,
.more__card-list-item {
  list-style: none;
  padding: 0;
  margin: 0;
}

.masonry__image {
  display: grid;
  justify-content: inherit;
}

.image__masonry {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: max-content;
  margin: 0 auto;
}

.masonry__details {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: grid;
}

.image__tape, 
.image__ice-cream, 
.image__books {
  max-inline-size: 315px;
  grid-column: span 1;
}

.image__street, 
.image__sunset {
  max-inline-size: 649px;
  grid-column: span 2;
}

.image__tape {
  max-block-size: 768px;
  grid-row: 2 / span 3;
}

.image__ice-cream { 
  max-block-size: 595px;
  grid-row: span 2;
}

.image__books {
  max-block-size: 315px;
  grid-row: span 1;
}

.image__street {
  max-block-size: 428px;
  grid-row: 3 / span 2;
}

.image__sunset {
  max-block-size: 260px;
  grid-row: span 1;
}

.footer {
  min-block-size: 768px;
  display: grid;
  position: relative;
}

.footer__heading {
  margin-block-start: 0;
  margin-block-end: 0;
  align-content: center;
  justify-self: center;
}

@media (width >= 1025px) {
.concentrate__card-list-item {
  max-inline-size: inherit;
}
}

@media (max-width: 979px) {
.header {
  flex-direction: column;
  padding-inline-end: 20px;
}

.header__theme-menu {
  padding-block-start: 192px;
  padding-block-end: 0;
  max-width: none;
  margin: 0;
}

.page .cover__heading, 
.page .footer__heading {
  text-shadow: 4px 4px 0 var(--text-box-dark);
}

.header__theme-menu-list {
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: center;
  gap: 13px;
}

.page .cover__text {
  max-inline-size: 364px;
  min-block-size: 117px;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-block-end: 183px;
}

.cover__heading {
  padding-block-start: 173px;
  padding-block-end: 162px;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

ul {
  margin: 0;
  padding: 0;
}

.main {
  flex-direction: column;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-start: 60px;
}

.sections-style {
  padding-block-start: 0;
  padding-block-end: 60px;
}

.page .main .about__heading {
  max-width: 30vw;
  min-width: 23vw;
  margin: 0;
}

.concentrate__card-list-item {
  max-inline-size: 100%;
  height: auto;
}

.about__card-list-item,
.more__card-list-item {
  max-width: 472px;
}

.about__heading {
  margin: 0;
}

.about__card-list {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.about__title {
  margin-block-end: 10px;
  margin: 0;
}

.about__text {
  padding-block-end: 20px;
  margin: 0;
}

.main .concentrate__details .about__card-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.masonry__image {
  padding-block-start: 0;
  padding-block-end: 0;
}

.image__sunset {
  max-inline-size: 479px;
  max-block-size: 192px;
}

.image__ice-cream,
.image__tape  {
  max-inline-size: 229px;
}

.image__ice-cream {
  max-block-size: 441px;
}

.image__tape {
  max-block-size: 568px;
}

.image__books {
  max-inline-size: 230px;
  max-block-size: 230px;
}

.image__street {
  max-inline-size: 479px;
  max-block-size: 318px;
}

.footer {
  min-block-size: 1024px;
}
}

@media (width <= 610px) {

.page .main {
  padding-block-start: 40px;
  padding-block-end: 40px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.header__theme-menu {
  padding-block-start: 0;
}

.page .top::after {
  right: 10px;
  top: 10px;
}

.header .cover {
  min-height: 31.3em;
}

.page .main .about__heading {
  max-width: inherit;
  min-width: inherit;
}

.page .bottom::before {
  left: auto;
  bottom: 10px;
}

.header {
  display: flex;
  padding-block-start: 75px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.cover__heading {
  padding-block-start: 65px;
  padding-block-end: 55px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.page .cover__text {
  max-inline-size: 355px;
  margin: 0;
}

.cover__corner-text {
  padding-inline-end: 38px;
  padding-block-start: 10px;
}

.cover__corner-text::after {
  top: 18px;
  right: 19px;
}

.sections-style {
  flex-direction: column;
  padding-block-end: 30px;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.concentrate__card-list {
  gap: 0;
}

.about__title {
  margin-block-end: 0;
}

.more__heading {
  padding-block-start: 20px;
}

.masonry__image {
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
}

.masonry__details {
  max-inline-size: inherit;
}

.image__masonry {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.masonry__size {
  display: flex;
  max-inline-size: 100%;
  max-block-size: 100%;
}

.footer__heading {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.footer {
  min-block-size: 668px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}
}
